body{
    margin: 0;
    padding: 0;
  }
  #root{
    height: 100vh;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .payment-btn{
    padding: 15px 150px;
    border-radius: 10px;
    border: none;
    background-color: brown;
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .payment-btn:hover{
    background-color: rgb(150, 11, 11);
  }

  .basket-payment{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }
  .basket-payment h1{
    font-size: 18px;
    text-align: center;
  }